html,
body {
    height: 100%;
}

#mynetwork {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
}

#container2 {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#mynetwork2{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#generate-graph{
    margin:auto;
    display:block;
}


#solve{
    margin:auto;
    display:block;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 3px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}
  .buttons {
width: 600px;
margin: 0 auto;}

    .action_btn {
width: 300px;
margin: 0 auto;}